/* Ẩn icon mặc định của trình duyệt trên Chrome, Edge */
input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

/* Ẩn trên Firefox */
input::-moz-list-button {
  display: none !important;
}

/* Ẩn trên Microsoft Edge */
input::-ms-clear,
input::-ms-reveal {
  display: none !important;
}
