.bookRoomChild {
    position: absolute;
    top: 205px;
    left: 581px;
    border-radius: 5px;
    background-color: #fff;
    width: 254px;
    height: 313px;
    cursor: pointer;
}
.panelistDetails {
    position: absolute;
    top: 1070px;
    left: 89px;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.textbuttondefault {
    position: relative;
    font-weight: 600;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #2f65b8;
}
.button2 {
    width: 73px;
    height: 19px;
    display: none;
}
.button3 {
    width: 6px;
    height: 19px;
    display: none;
}
.button12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #437dd6;
}
.breadcrum {
    position: absolute;
    top: 67px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 23px;
    box-sizing: border-box;
    gap: 11px;
    text-align: right;
    font-size: 14px;
    color: #7c7c7c;
}
.bookAMeeting {
    width: 505px;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.bookAMeetingRoomWrapper {
    position: absolute;
    top: 147px;
    left: 33px;
    width: 526px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px 0px 23px;
    box-sizing: border-box;
    font-size: 18px;
    color: #444;
}
.roomsAvailibility {
    position: absolute;
    top: 144px;
    left: 582px;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    display: flex;
    align-items: center;
    width: 538px;
}
.blrhbBoardroom8104HorFeatIcon {
    position: absolute;
    top: 234px;
    left: 608px;
    width: 201px;
    height: 111px;
    object-fit: cover;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #fff;
    width: 253px;
    height: 313px;
}
.blrhbBoardroom8104HorFeatIcon1 {
    position: absolute;
    top: 29px;
    left: 26px;
    width: 201px;
    height: 111px;
    object-fit: cover;
}
.tungbhadra {
    position: absolute;
    top: 158px;
    left: 26px;
    font-size: 14px;
    font-family: Lato;
    display: inline-block;
    width: 114px;
}
.span {
    color: #888;
}
.seatingCapacity4Container {
    position: absolute;
    top: 159px;
    left: 140px;
    display: inline-block;
    width: 100px;
    height: 16px;
}
.locationPuneHinjewadiContainer {
    position: absolute;
    top: 192px;
    left: 25px;
    display: inline-block;
    width: 140px;
    height: 16px;
}
.rectangleParent {
    position: absolute;
    top: 538px;
    left: 582px;
    width: 253px;
    height: 313px;
}
.bookRoomItem {
    position: absolute;
    top: 205px;
    left: 855px;
    border-radius: 5px;
    background-color: #fff;
    width: 254px;
    height: 313px;
}
.meetingImg1Icon {
    position: absolute;
    top: 234px;
    left: 882px;
    width: 200px;
    height: 111px;
    object-fit: cover;
}
.ghataprabha {
    position: absolute;
    top: 363px;
    left: 882px;
    font-size: 14px;
    display: inline-block;
    font-family: Lato;
    width: 131px;
}
.bhagirathi {
    position: absolute;
    top: 363px;
    left: 607px;
    font-size: 14px;
    display: inline-block;
    font-family: Lato;
    width: 131px;
}
.seatingCapacity8Container {
    position: absolute;
    top: 364px;
    left: 999px;
    display: inline-block;
    width: 105px;
    height: 16px;
}
.seatingCapacity8Container1 {
    position: absolute;
    top: 364px;
    left: 725px;
    display: inline-block;
    width: 105px;
    height: 16px;
}
.locationPuneHinjewadiContainer1 {
    position: absolute;
    top: 397px;
    left: 881px;
    display: inline-block;
    width: 139px;
    height: 16px;
}
.locationPuneHinjewadiContainer2 {
    position: absolute;
    top: 397px;
    left: 607px;
    display: inline-block;
    width: 139px;
    height: 16px;
}
.bookRoomInner {
    position: absolute;
    top: 468px;
    left: 881px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #437dd6;
    box-sizing: border-box;
    width: 79px;
    height: 30px;
}
.rectangleDiv {
    position: absolute;
    top: 468px;
    left: 607px;
    border-radius: 5px;
    background-color: #437dd6;
    width: 79px;
    height: 30px;
}
.booked {
    position: absolute;
    top: 476px;
    left: 902px;
    font-weight: 600;
    color: #437dd6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
}
.book {
    position: absolute;
    top: 476px;
    left: 628px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
}
.groupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #fff;
    width: 254px;
    height: 313px;
}
.meetingImg1Icon1 {
    position: absolute;
    top: 29px;
    left: 27px;
    width: 200px;
    height: 111px;
    object-fit: cover;
}
.bramhaputra {
    position: absolute;
    top: 158px;
    left: 27px;
    font-size: 14px;
    font-family: Lato;
    display: inline-block;
    width: 119px;
}
.seatingCapacity4Container1 {
    position: absolute;
    top: 159px;
    left: 141px;
    display: inline-block;
    width: 121px;
    height: 16px;
}
.locationPuneHinjewadiContainer3 {
    position: absolute;
    top: 192px;
    left: 26px;
    display: inline-block;
    width: 184px;
    height: 16px;
}
.rectangleGroup {
    position: absolute;
    top: 538px;
    left: 855px;
    width: 262px;
    height: 313px;
}
.bhima {
    position: absolute;
    top: 158px;
    left: 26px;
    font-size: 14px;
    font-family: Lato;
    display: inline-block;
    width: 73px;
}
.seatingCapacity8Container2 {
    position: absolute;
    top: 159px;
    left: 142px;
    display: inline-block;
    width: 98px;
    height: 16px;
}
.locationPuneHinjewadiContainer4 {
    position: absolute;
    top: 192px;
    left: 25px;
    display: inline-block;
    width: 121px;
    height: 16px;
}
.rectangleContainer {
    position: absolute;
    top: 205px;
    left: 1129px;
    width: 253px;
    height: 313px;
}
.sindu {
    position: absolute;
    top: 158px;
    left: 26px;
    font-size: 14px;
    font-family: Lato;
    display: inline-block;
    width: 104px;
}
.seatingCapacity4Container2 {
    position: absolute;
    top: 159px;
    left: 143px;
    display: inline-block;
    width: 93px;
    height: 16px;
}
.locationPuneHinjewadiContainer5 {
    position: absolute;
    top: 192px;
    left: 25px;
    display: inline-block;
    width: 181px;
    height: 16px;
}
.groupDiv {
    position: absolute;
    top: 538px;
    left: 1129px;
    width: 253px;
    height: 313px;
}
.groupChild2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #437dd6;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}
.groupIcon {
    position: absolute;
    height: 43%;
    width: 61.67%;
    top: 28.2%;
    right: 20.38%;
    bottom: 28.8%;
    left: 17.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.rectangleParent1 {
    position: absolute;
    top: 145px;
    left: 1350px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bookRoomChild1 {
    position: absolute;
    top: 145px;
    left: 1311px;
    width: 30px;
    height: 30px;
}
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #fff;
    width: 506px;
    height: 729px;
}
.stepsChild {
    position: absolute;
    top: 12px;
    left: 30px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
}
.stepsItem {
    position: absolute;
    top: 12px;
    left: 98px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
}
.stepsInner {
    position: absolute;
    top: 12px;
    left: 168px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
}
.lineDiv {
    position: absolute;
    top: 12px;
    left: 236px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
}
.stepsChild1 {
    position: absolute;
    top: 12px;
    left: 305px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
    display: none;
}
.stepsChild2 {
    position: absolute;
    top: 12px;
    left: 373px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
    display: none;
}
.stepsChild3 {
    position: absolute;
    top: 12px;
    left: 443px;
    border-top: 1.2px dashed #ababbf;
    box-sizing: border-box;
    width: 32px;
    height: 0px;
    display: none;
}
.subtractIcon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.stepNameOr {
    position: relative;
}
.stepNameOrNumberWrapper {
    position: absolute;
    left: 0px;
    border-radius: 3px;
    background-color: #444;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.polygonIcon {
    position: absolute;
    top: 0px;
    left: 7.5px;
    width: 6px;
    height: 5px;
}
.frameParent {
    position: absolute;
    top: calc(50% + 14px);
    left: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
}
.stepsindicators {
    width: 22px;
    position: relative;
    height: 22px;
}
.stepNameOrNumberFrame {
    position: absolute;
    border-radius: 3px;
    background-color: #444;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.groupChild5 {
    position: absolute;
    width: 6px;
    height: 5px;
}
.frameContainer {
    position: absolute;
    top: 113.64%;
    left: 0%;
    width: 0px;
    height: 0px;
    opacity: 0;
}
.groupChild6 {
    position: absolute;
    left: 7.5px;
    width: 6px;
    height: 5px;
}
.frameParent1 {
    position: absolute;
    top: 113.64%;
    left: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
}
.stepsindicators5 {
    width: 22px;
    position: relative;
    height: 22px;
    display: none;
}
.stepsindicatorsParent {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 47px;
}
.steps {
    width: 298px;
    position: relative;
    height: 22px;
    display: none;
    text-align: left;
    font-size: 12px;
    font-family: Lato;
}
.button13 {
    width: 104px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #2f65b8;
    box-sizing: border-box;
    height: 42px;
    display: none;
}
.button15 {
    width: 199px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #2f65b8;
    box-sizing: border-box;
    height: 42px;
    display: none;
}
.default {
    position: relative;
    font-weight: 600;
    -webkit-text-stroke: 1px #437dd6;
}
.button16 {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #437dd6;
    box-sizing: border-box;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 26px;
}
.button17 {
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
    border-radius: 6px;
    background-color: #437dd6;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 11px 26px;
    box-sizing: border-box;
}
.stepsParent {
    position: absolute;
    top: 671px;
    right: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    cursor: pointer;
    text-align: right;
    font-size: 14px;
    color: #fff;
}
.recent {
    align-self: stretch;
    position: relative;
    mix-blend-mode: normal;
}
.label {
    align-self: stretch;
    flex: 1;
    position: relative;
    mix-blend-mode: normal;
}
.labelWrapper {
    align-self: stretch;
    width: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0px 0px;
    box-sizing: border-box;
}
.fa {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
}
.field {
    align-self: stretch;
    box-shadow: 0px -3px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 8px 0px;
    gap: 10px;
}
.dropdown {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}
.location {
    position: absolute;
    top: 18px;
    left: 35px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.labelContainer {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0px 0px;
}
.field1 {
    align-self: stretch;
    flex: 1;
    box-shadow: 0px -3px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 8px 0px;
    gap: 10px;
}
.seats {
    position: absolute;
    top: 424px;
    left: 37px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.field2 {
    align-self: stretch;
    flex: 1;
    box-shadow: 0px -3px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 8px 0px;
}
.meetingAgenda {
    position: absolute;
    top: 504px;
    left: 37px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.recent3 {
    position: relative;
    mix-blend-mode: normal;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.fieldChild {
    align-self: stretch;
    flex: 1;
}
.fa2 {
    width: 23px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.field3 {
    align-self: stretch;
    flex: 1;
    box-shadow: 0px -3px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 8px 0px;
    gap: 10px;
}
.datePicker {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
}
.amenitiesWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 428px;
    height: 62px;
}
.groupWrapper {
    position: absolute;
    top: 0px;
    left: 1px;
    width: 428px;
    height: 62px;
    text-align: left;
    color: #ababbf;
}
.inputChip {
    position: absolute;
    top: 80px;
    left: 71px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.inputChip1 {
    position: absolute;
    top: 80px;
    left: 0px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.inputChip2 {
    position: absolute;
    top: 30px;
    left: 12px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    box-sizing: border-box;
    width: 70px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.inputChip3 {
    position: absolute;
    top: 120px;
    left: 0px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.inputChip4 {
    position: absolute;
    top: 80px;
    left: 249px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.inputChip5 {
    position: absolute;
    top: 80px;
    left: 319px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.inputChip6 {
    position: absolute;
    top: 80px;
    left: 141px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
}
.antDesigncloseCircleFilledIcon {
    position: absolute;
    top: 33px;
    left: 62px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.groupContainer {
    position: absolute;
    top: 258px;
    left: 35px;
    width: 429px;
    height: 148px;
    text-align: center;
    color: #7c7c7c;
}
.inputChip7 {
    position: absolute;
    top: 30px;
    left: 11px;
    border-radius: 8px;
    background-color: #fffbfe;
    border: 1px solid #e1e6ed;
    box-sizing: border-box;
    width: 129px;
    height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 12px;
    text-align: center;
    color: #7c7c7c;
}
.antDesigncloseCircleFilledIcon1 {
    position: absolute;
    top: 33px;
    left: 114px;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.groupParent1 {
    position: absolute;
    top: 584px;
    left: 37px;
    width: 428px;
    height: 62px;
}
.div2 {
    width: 13px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 16.3px;
    flex-shrink: 0;
}
.fa4 {
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 14.57px;
    color: #000;
    font-family: FontAwesome;
}
.div3 {
    position: relative;
    color: #d84747;
    display: none;
    mix-blend-mode: normal;
}
.title2 {
    position: absolute;
    top: 178px;
    left: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.labelWrapper1 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 0px 0px;
}
.fa5 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 5px;
    text-align: center;
    font-size: 14px;
    color: #7c7c7c;
    font-family: 'Font Awesome 5 Free';
}
.field5 {
    position: absolute;
    top: calc(50% - 164.5px);
    left: calc(50% - 217px);
    box-shadow: 0px -3px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 8px 0px;
    gap: 10px;
}
.title3 {
    position: absolute;
    top: 98px;
    left: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.field6 {
    position: absolute;
    top: calc(50% - 244.5px);
    left: calc(50% - 217px);
    box-shadow: 0px -3px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 8px 0px;
    gap: 10px;
}
.fa8 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 5px;
    text-align: center;
    font-size: 14px;
    font-family: FontAwesome;
}
.timepicker {
    position: absolute;
    top: 178px;
    left: 309px;
    width: 154px;
    height: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    color: #7c7c7c;
}
.timepicker1 {
    position: absolute;
    top: 99px;
    left: 309px;
    width: 154px;
    height: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    color: #7c7c7c;
}
.groupParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 506px;
    height: 729px;
}
.bookRoomInner1 {
    position: absolute;
    top: 205px;
    left: 53px;
    width: 506px;
    height: 729px;
    font-size: 12px;
    color: #ababbf;
}
.facilities {
    position: absolute;
    top: 4px;
    left: 0px;
    display: inline-block;
    width: 49px;
    height: 10px;
}
.groupChild8 {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 144px;
    height: 24px;
}
.facilitiesParent {
    position: absolute;
    top: 427px;
    left: 607px;
    width: 194px;
    height: 24px;
    color: #333;
    font-family: Lato;
}
.facilitiesGroup {
    position: absolute;
    top: 427px;
    left: 881px;
    width: 194px;
    height: 24px;
    color: #333;
    font-family: Lato;
}
.facilitiesContainer {
    position: absolute;
    top: 427px;
    left: 1154px;
    width: 194px;
    height: 24px;
    color: #333;
    font-family: Lato;
}
.headerChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    right: 0%;
    bottom: -100%;
    left: 0%;
    background-color: #17af87;
}
.headerlogoIcon {
    position: absolute;
    height: 100%;
    width: 13.89%;
    top: 0%;
    right: 83.61%;
    bottom: 0%;
    left: 2.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.lineCopy5 {
    width: 0.1px;
    position: relative;
    height: 20px;
    opacity: 0.3;
    mix-blend-mode: normal;
}
.pathIcon {
    position: absolute;
    height: 7.81%;
    width: 15.63%;
    top: 73.9%;
    right: 43.85%;
    bottom: 18.29%;
    left: 40.52%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.pathIcon1 {
    position: absolute;
    height: 57.19%;
    width: 57.81%;
    top: 16.48%;
    right: 22.7%;
    bottom: 26.33%;
    left: 19.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ovalIcon {
    position: absolute;
    height: 43.75%;
    width: 43.75%;
    top: 12.5%;
    right: 6.25%;
    bottom: 43.75%;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div10 {
    position: absolute;
    top: 12.5%;
    left: 62.5%;
    letter-spacing: 0.38px;
}
.pathParent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.systemIcons32ptnewnotificat {
    width: 32px;
    position: relative;
    height: 32px;
}
.headericonmenunormal {
    background-color: #17af87;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 24px;
}
.systemIcons32ptprofileIcon {
    width: 32px;
    position: relative;
    height: 32px;
    object-fit: cover;
}
.johnDoe {
    position: relative;
    letter-spacing: 0.55px;
    white-space: pre-wrap;
}
.rectangle5Copy {
    width: 8px;
    position: relative;
    height: 17.7px;
    object-fit: contain;
}
.headerusernamenormal {
    align-self: stretch;
    background-color: #17af87;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 21px;
    gap: 8px;
    font-size: 14px;
}
.lineCopy5Parent {
    position: absolute;
    height: 49.23%;
    width: 17.05%;
    top: 24.62%;
    right: 2.95%;
    bottom: 26.15%;
    left: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
    font-size: 10px;
}
.johnDoe1 {
    position: absolute;
    width: 5.97%;
    top: 36.92%;
    left: 71.81%;
    letter-spacing: 0.55px;
    display: flex;
    align-items: center;
}
.johnDoe2 {
    position: absolute;
    width: 5%;
    top: 36.92%;
    left: 63.68%;
    letter-spacing: 0.55px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 65px;
    font-size: 14px;
    color: #fff;
    font-family: Lato;
}
.available {
    position: absolute;
    top: 396px;
    left: 1316px;
    font-weight: 600;
    color: #17af87;
    text-align: right;
    display: flex;
    align-items: center;
    width: 44px;
}
.bookRoomChild2 {
    position: absolute;
    top: 468px;
    left: 1155px;
    border-radius: 5px;
    background-color: #437dd6;
    width: 79px;
    height: 30px;
}
.book1 {
    position: absolute;
    top: 476px;
    left: 1176px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
}
.notAvailable {
    position: absolute;
    top: 397px;
    left: 1013px;
    font-weight: 600;
    color: #eb5757;
    white-space: pre-wrap;
    text-align: right;
    display: flex;
    align-items: center;
    width: 73px;
}
.notAvailable1 {
    position: absolute;
    top: 397px;
    left: 739px;
    font-weight: 600;
    color: #eb5757;
    white-space: pre-wrap;
    text-align: right;
    display: flex;
    align-items: center;
    width: 73px;
}
.available1 {
    position: absolute;
    top: 730px;
    left: 766px;
    font-weight: 600;
    color: #17af87;
    text-align: right;
    display: flex;
    align-items: center;
    width: 44px;
}
.bookRoomChild3 {
    position: absolute;
    top: 802px;
    left: 881px;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #437dd6;
    box-sizing: border-box;
    width: 79px;
    height: 30px;
}
.bookRoomChild4 {
    position: absolute;
    top: 802px;
    left: 607px;
    border-radius: 5px;
    background-color: #437dd6;
    width: 79px;
    height: 30px;
}
.booked1 {
    position: absolute;
    top: 810px;
    left: 902px;
    font-weight: 600;
    color: #437dd6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
}
.book2 {
    position: absolute;
    top: 810px;
    left: 628px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
}
.facilitiesParent1 {
    position: absolute;
    top: 761px;
    left: 607px;
    width: 194px;
    height: 24px;
    color: #333;
    font-family: Lato;
}
.facilitiesParent2 {
    position: absolute;
    top: 761px;
    left: 881px;
    width: 194px;
    height: 24px;
    color: #333;
    font-family: Lato;
}
.facilitiesParent3 {
    position: absolute;
    top: 761px;
    left: 1154px;
    width: 194px;
    height: 24px;
    color: #333;
    font-family: Lato;
}
.available2 {
    position: absolute;
    top: 730px;
    left: 1316px;
    font-weight: 600;
    color: #17af87;
    text-align: right;
    display: flex;
    align-items: center;
    width: 44px;
}
.bookRoomChild5 {
    position: absolute;
    top: 802px;
    left: 1155px;
    border-radius: 5px;
    background-color: #437dd6;
    width: 79px;
    height: 30px;
}
.book3 {
    position: absolute;
    top: 810px;
    left: 1176px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
}
.notAvailable2 {
    position: absolute;
    top: 731px;
    left: 1013px;
    font-weight: 600;
    color: #eb5757;
    white-space: pre-wrap;
    text-align: right;
    display: flex;
    align-items: center;
    width: 73px;
}
.fa10 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 5px;
}
.label7 {
    position: relative;
    font-size: 12px;
    font-family: 'Open Sans';
    color: #7c7c7c;
    text-align: left;
    mix-blend-mode: normal;
}
.faParent {
    flex: 1;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.field9 {
    align-self: stretch;
    box-shadow: 0px -2px 0px #ababbf inset;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e1e6ed;
    box-sizing: border-box;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 8px 0px;
}
.search {
    position: absolute;
    top: 144px;
    left: 1005px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 14px;
    color: #ababbf;
    font-family: FontAwesome;
}
.footerChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #e1e6ed;
}
.homeContactUs {
    position: absolute;
    width: 34.56%;
    top: 25%;
    left: 63.38%;
    display: flex;
    align-items: center;
}
.xoriantCorpo {
    position: absolute;
    width: 22.69%;
    top: 27.5%;
    left: 6.03%;
    text-align: left;
    display: flex;
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1440px;
    height: 40px;
    text-align: right;
    font-size: 14px;
    color: #969696;
}
.bookRoom {
    width: 100%;
    position: relative;
    background-color: #f9f9f9;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    color: #000;
    font-family: 'Open Sans';
}

